<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/ours.css" />
    <script src="js/htmx.min.js"></script>
    <script>htmx.logAll();</script>
    <script src="js/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

    <title>StatusThing</title>
</head>

<body>
    <div class="navbar navbar-dark bg-dark"><a class="navbar-brand" href="#">StatusThing</a></div>
    <div class="container">
        <div hx-ext="client-side-templates">
            <div class="row">
                <div class="col-4">Items</div>
                <div class="col-4"><button hx-trigger="click,load delay:1s, every 10s"
                        hx-post="/statusthing.v1.ItemsService/ListItems" hx-ext='json-enc' mustache-template="item-card"
                        hx-target="#item-cards">reload</button></div>
            </div>
            <div id="item-cards" class="row"></div>
            <div class="row">
                <div class="col-4">Statuses</div>
                <div class="col-4"><button hx-trigger="load delay:2s, every 30s" class="row" hx-trigger="click"
                        hx-post="/statusthing.v1.StatusService/ListStatus" hx-ext='json-enc'
                        mustache-template="status-card" hx-target="#status-cards">reload</button></div>
            </div>
            <div id="status-cards" class="row"></div>
        </div>
    </div>
    </div>

    <template id="item-card">
        {{#items}}
        <div class="col-4">
            <div class="card text-black border" id="card-{{id}}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">Status: {{status.name}}</p>
                    <p class="card-text"><small class="text-muted">ID: {{id}}</small></p>
                </div>
            </div>
        </div>
        {{/items}}
    </template>
    <template id="status-card">
        {{#statuses}}
        <div class="col-4">
            <div class="card text-black border" id="card-{{id}}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">Kind: {{kind}}</p>
                    <p class="card-text">Color: {{color}}</p>
                    <p class="card-text"><small class="text-muted">ID: {{id}}</small></p>
                </div>
            </div>
        </div>
        {{/statuses}}
    </template>
</body>

</html>